// Colors
$white: #ffffff;

$color-primary: #204883;
$color-secondary: #a5a5a5;
$color-tertiary: #19171b;
$color-tertiary-light: #35353f80;

// Fonsts

$font-primary: 'Open Sans', sans-serif;
$font-secondary: "Courier New", Courier, monospace;