.movie {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  @media (min-width: 768px) {
    min-height: 500px;
    padding: 15px 10px;
    border-radius: 30px;
    background-color:$color-tertiary-light;
    margin: 20px 0;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(5, 1fr);
    }
    &__item {
      background-color: $color-primary;
      margin: 5px 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      padding: 10px 0;
      cursor: pointer;
      @media (min-width: 768px) {
        margin: 0;
      }
    }
    &__img {
      width: 120px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    &__name {
      padding: 0 5px;
      width: 150px;
      color: $color-secondary;
      font-size: 16px;
      margin: auto;
    }
  }
}

.selected {
  background-color: $color-secondary;
  box-shadow: 3px 3px $color-primary;
  @media (min-width: 768px){
    transform: translate(10px 10px);
  }
  .movie__list__name {
    color: $color-primary;
    text-shadow: 1px 1px $color-tertiary-light;
  }
}
