.main__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__search {
    width: 600px;
  }
}

.search {
  display: flex;
  &__btn {
    margin: 0 5px;
    background-color: rgb(230, 22, 56);
    border: none;
    color: white;
  }
}

.movie {
  &__container {
    background-color: pink;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
      width: 280px;
      margin: 10px 0;
      background-color: royalblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }
  }
}

.selected {
  background-color: saddlebrown;
}
