.main__box {
  display: flex;
}

.movie {
  &__container {
    background-color: pink;
  }
  &__list {
    &__item {
      width: 280px;
      margin: 10px;
      display: inline-block;
    }
    &__box {
      background-color: royalblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.selected {
  color: red;
}
