body {
  background-color: $color-tertiary;
}

.header {
  width: 100%;
  color: $white;
  text-align: center;
  &__title {
    font-size: 30px;
    width: 200px;
    margin: auto;
    font-family: $font-secondary;
    padding: 20px 0;
    text-shadow: 2px 2px $color-primary;
    margin-top: 20px;
    @media (min-width: 768px){
      margin: unset;
      width: unset;
      font-size: 40px;
      margin-top: 0;
    }
  }
}

.main {
  width: 100%;
  font-family: $font-primary;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    margin: 0 15px;
    @media (min-width: 768px) {
      flex-direction: row;
      margin: 0 20px;
    }
    &__search {
      @media (min-width: 768px) {
        width: 500px;
      }
    }
  }
}
